{% extends 'recipes/base.html' %}

{% comment %} {% load markdownify %} {% endcomment %}

{% block content %}
<main class="tag-detail">
  <div>
    <a href="{% url 'meal_plan_edit' mealplan.id %}">Edit</a>
    <a href="{% url 'meal_plan_delete' mealplan.id %}">Delete</a>
  </div>
  <h2>Recipes for {{ mealplan.name }} on {{mealplan.date}}</h2>

    {% for recipe in mealplan.recipes.all %}
        <a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.name }}</a>
    {% endfor %}

</main>
{% endblock content %}
